/*Global styles*/

/*Color Palette

#2B2D42  - dark blue
#8D99AE  - light blue
#EDF2F4  - blue/white
#EF233C  - red
*/


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1 {

    font-size: 56px; 
}
h2 {

    font-size: 38px;
/*    margin-top: 10px;*/
}
a {
    color: blue;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    width: 950px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

/*Header and Footer*/

header, footer {
    background: #2B2D42;
    color: #8D99AE;
    padding: 16px;
}

/*Header*/

/*
.profile-img {
    width: 300px;
    border-radius: 50%;
    float: left;
}
*/
/*
header {
    text-align: center;
}
*/
header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
    
}

/*Footer*/

footer {
    text-align: center;
}

.contact-info a {
    background: white;
    padding: 10px;
    display: inline-block;
}

/*Work experience*/

.work {
    background: #EDF2F4;
}


/*Education*/

.education {
    background: #8D99AE;
}
/*Education*/

.certifications {
    background: 8a8fc5;
}